   .fixed {
      position: fixed;
      bottom: 0;
      right: 0;
      height: 30px;
      width: 100%;
      text-align: center;
      
}
.jumbotron {
    color: white;
    background-color: #29bedf;
    width: 100%;
}

.form-group {
    font-size: 18px;
}

.form-control {
    font-size: 16px;
}


#asideauthor {
     background-image: url("../img/author.png");
     background-repeat: no-repeat;
     background-position: center;
     height: 320px;
     margin-top: -10px;
}

#asidepublisher {
    background-image: url("../img/publisher.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
    margin-top: -10px;
}

#asidebook {
    background-image: url("../img/book.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
    margin-top: 5px;
}


body {
  padding: 1em;
}

table.table { width: 100%; }

.table th, .table td { 
  text-align: left; 
  padding: 0.25em;
}

.table tr { 
  border-bottom: 1px solid #DDD;
}
td.edit-buttons { text-align: right; }
button { 
  border-radius: 2px; 
  border: none; 
  margin: 0 0.25em; 
  transition: all 0.3s;
  text-align: center;

}

button:hover { 
  box-shadow: 0 0 4px rgba(3,3,3,0.8); 
  opacity: 0.9;
}

button.edit { background-color: yellow; width: 100%; padding-bottom: 2%;}
button.delete { background-color: orange; width: 100%; padding: 2% 2%; }

@media screen and (max-width: 800px) {
  tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }
  td, th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3,3,3,0.2);
  }
  td.edit-buttons, td.empty {
    /*flex: 1 0 90%;
    text-align: center;*/
  }

    
</style>
}

* { font-family: 'imprima'; }





